<%- include ('./templates/head1',{titulo: 'error 404'}) %>
<link rel="stylesheet" href="/public/css/estilosLogin.css">
</head>
<body>
    <h2>
        <center>
            <h1>Error 404</h1>
            <h2>Pagina no encontrada</h2>
        </center>
    </h2>
</body>
</html>