<%- include ('./templates/head1',{titulo: 'error 404' }) %>
    <link rel="stylesheet" href="css/estilos404.css">
    </head>

    <body>
        <div class="error min-vh-100 d-flex flex-column justify-content-center align-items-center">
            <img src="/images/error404.svg" alt="error404" class="w-25">
            <div class="row">
                <h1 class="mt-5">Página no encontrada</h1>
            </div>
        </div>
    </body>

    </html>