<%- include ('./templates/head1', {titulo: 'Productos' }); %>

    <!-- css esta pagina -->
    <link rel="stylesheet" href="css/estilosProducto.css">
    </head>

    <body>
        <!-- navbar -->
        <%- include ('./templates/navbar') %>

            <div class="container mt-5">
                <h2 class="text-center mb-4">Seleccione el archivo CSV con los productos</h2>

                <div class="containerA p-4 mx-auto mb-5">
                    <div class="d-flex justify-content-center mb-3">
                        <img src="/images/upload.svg" width="60px">
                    </div>
                    <form class="mx-auto d-flex justify-content-between">
                        <input type="file" name="Productos" id="btn-buscar" class="btn-buscar">
                        <label for="btn-buscar">Buscar archivo</label>
                        <input type="submit" value="Procesar">
                    </form>
                </div>

                <!-- tabla -->
                <div class="table-responsive-sm">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio Compra</th>
                                <th scope="col">Iva</th>
                                <th scope="col">Precio Venta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

<script>
    $(function() {
        $('').on('change', function () {
            $(this).prev().text($(this)[0].files[0].name);
        })
    })
</script>



            <!-- footer -->
            <%- include ('./templates/footer') %>