<%- include ('./templates/head1', {titulo: 'Reportes' }); %>

    <!-- css esta pagina -->
    <link rel="stylesheet" href="css/cliente.css">
    </head>

    <body>
        <%- include ('./templates/navbar') %>
            <h1>Reportes de ventas</h1>
            <div class="container">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Cédula</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Valor total ventas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1110
                                </td>
                                <td>
                                    lusia
                                </td>
                                <td>
                                    cll
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <label for="">Total ventas:</label>

                    </div>
                </div>
            </div>
    </body>
    
            <!-- footer con boostrap y popper-->
            <%- include ('./templates/footer') %>