<%- include ('./templates/head1', {titulo:'Sucursales'}) %>

    <!-- css esta pagina -->
    <link rel="stylesheet" href="css/estilosSucursales.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col cali">
                <a href="#" class="min-vh-100 d-flex align-items-center justify-content-center">
                    <h2 class="text-center">Sucursal <br> Cali</h2>
                </a>
            </div>
            <div class="col medellin">
                <a href="/clientes" class="min-vh-100 d-flex align-items-center justify-content-center">
                    <h2 class="text-center">Sucursal <br> Medellín</h2>
                </a>

            </div>
            <div class="col bogota">
                <a href="#" class="min-vh-100 d-flex align-items-center justify-content-center">
                    <h2 class="text-center">Sucursal <br> Bogotá</h2>
                </a>
            </div>
        </div>
    </div>

    <%- include ('./templates/footer') %>