<%- include ('./templates/head1', {titulo:'Ventas'}) %>
    <!-- css esta pagina -->
    <link rel="stylesheet" href="css/estilosVenta.css">
    </head>

    <body>
        <!-- navbar -->
        <%- include ('./templates/navbar') %>
            <div class="container ">
                <form action="" class="mx-auto">
                    <div class="d-flex flex-column align-items-end text-end">
                        <label for="" class="col-1">Consec</label>
                        <input type="text" class="col-1">
                    </div>
                    <div class="row">
                        <div class="col-5 d-flex flex-column">
                            <label for="" class="">Cédula Cliente</label>
                            <input type="text" class="">
                        </div>
                        <div class="col-7 d-flex flex-column">
                            <label for="" class="">Nombre Cliente</label>
                            <input type="text" class="">
                        </div>                        
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 d-flex flex-column">
                            <label for="" class="">Código</label>
                            <input type="text" class="">
                        </div>
                        <div class="col-2 d-flex flex-column">
                            <label for="" class="text-center">--></label>
                            <input type="submit" value="Buscar" class="">
                        </div>
                        <div class="col-5 d-flex flex-column">
                            <label for="" class="">Nombre Producto</label>
                            <input type="text" class="">
                        </div>
                        <div class="col-1 d-flex flex-column">
                            <label for="" class="">Cant</label>
                            <input type="text" class="">
                        </div>
                        <div class="col-2 d-flex flex-column">
                            <label for="" class="">Total</label>
                            <input type="text" class="">
                        </div>                 
                    </div>
                    <div class="row mt-1">
                        <div class="col-2 d-flex flex-column">
                            <input type="text" class="">
                        </div>
                        <div class="col-2 d-flex flex-column">
                            <input type="submit" value="Buscar" class="">
                        </div>
                        <div class="col-5 d-flex flex-column">
                            <input type="text" class="">
                        </div>
                        <div class="col-1 d-flex flex-column">
                            <input type="text" class="">
                        </div>
                        <div class="col-2 d-flex flex-column">
                            <input type="text" class="">
                        </div>                 
                    </div>
                    <div class="row mt-1">
                        <div class="col-2 d-flex flex-column">
                            <input type="text" class="">
                        </div>
                        <div class="col-2 d-flex flex-column">
                            <input type="submit" value="Buscar" class="">
                        </div>
                        <div class="col-5 d-flex flex-column">
                            <input type="text" class="">
                        </div>
                        <div class="col-1 d-flex flex-column">
                            <input type="text" class="">
                        </div>
                        <div class="col-2 d-flex flex-column">
                            <input type="text" class="">
                        </div>                 
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-2 d-flex flex-column">
                            <label for="" class="">Total</label>
                            <input type="text" class="">
                        </div>
                        <div class="col-2 d-flex flex-column">
                            <label for="" class="">Total Iva</label>
                            <input type="text" class="">
                        </div>
                        <div class="col-2 d-flex flex-column">
                            <label for="" class="">Total con Iva</label>
                            <input type="text" class="">
                        </div>
                        <div class="d-flex flex-column align-items-end">
                            <input type="submit" value="Confirmar" class="col-2 mt-4">
                        </div>
                    </div>
                </form>
            </div>



            <!-- footer con boostrap y popper-->
            <%- include ('./templates/footer') %>