<%- include ('./templates/head1', {titulo:'Ventas'}) %>
    <!-- css esta pagina -->
    <link rel="stylesheet" href="css/estilosVenta.css">
    </head>

    <body>
        <!-- navbar -->
        <%- include ('./templates/navbar') %>
            <div class="container d-flex flex-column justify-content-center align-items-center">
                <form action="" class="grupo-input bg-light">
                    <label for="">Cedula del Cliente</label>
                    <input type="text">
                    <label for="">Nombre del Cliente</label>
                    <input type="text">
                    <label for="">Codigo Producto 01</label>
                    <input type="text">
                    <label for="">Nombre Producto 01</label>
                    <input type="text">
                    <label for="">Cantidad Producto 01</label>
                    <input type="text">
                    <label for="">Cons</label>
                    <input type="text">
                </form>
            </div>



            <!-- footer con boostrap y popper-->
            <%- include ('./templates/footer') %>