@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@900&display=swap');
i {
    color: #b93665;
}

.container {
    display: grid;
    justify-content: center;
    margin-bottom: 5%;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
}


/* background: linear-gradient(to right, #bac1df, #222ab42b); */

table {
    border-radius: 5px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0 0 0 / 32%);
    background-color: var(--bs-table-bg);
}

th,
td {
    background-color: rgba(255, 255, 255, 0.2);
}

td {
    color: #131011;
    padding-left: 15px;
    padding-right: 15px;
}

th {
    padding: 15px;
    text-align: center;
    color: white;
    background-color: #8c324f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

td::before {
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

h3 {
    margin: 2%;
    text-align: -webkit-center;
    font-weight: bold;
    text-align: center;
    font-weight: normal;
    color: #160c0c;
    ;
    text-transform: uppercase;
    font-size: 2.5em;
    white-space: nowrap;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgb(107 84 116 / 70%);
    @include skew(0,
    -6.7deg,
    false);
    @include transition-property(font-size);
    @include transition-duration(0.5s);
}

.my-4 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

@media screen and (max-width: 50em) {
    h3 {
        font-size: 4vw;
    }
}