@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/***** Variables ************/

html {
    --color1: #c33764;
    --color2: #702f6b;
    --color3: #1d2671;
}

body {
    background: url(../images/fondoLogin2.png);
    background-size: cover;
    background-position: center;
    font-family: Nunito, sans-serif;
}


/******** cali *********/

.cali {
    background: url(../images/cali.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.cali a {
    width: 100%;
    background-color: var(--color1);
    opacity: .9;
    text-decoration: none;
    color: white;
    transition: ease-out .2s;
}

.cali a:hover {
    background-color: var(--color1);
    opacity: .3;
    transition: ease-in .2s;
}


/******** Medellin *********/

.medellin {
    background: url(../images/medellin.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.medellin a {
    width: 100%;
    background-color: var(--color2);
    opacity: .9;
    text-decoration: none;
    color: white;
    transition: ease-out .2s;
}

.medellin a:hover {
    background-color: var(--color2);
    opacity: .3;
    transition: ease-in .2s;
}


/******** Bogota *********/

.bogota {
    background: url(../images/bogota.jpeg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.bogota a {
    width: 100%;
    background-color: var(--color3);
    opacity: .9;
    text-decoration: none;
    color: white;
    transition: ease-out .2s;
}

.bogota a:hover {
    background-color: var(--color3);
    opacity: .3;
    transition: ease-in .2s;
}